@import 'variables';
@import './styles.scss';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Verdana, Geneva, Sans-Serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings:
    "cv11", "salt", "ss01", "ss03",
    "cv01", "cv02", "cv03", "cv04",
    "cv05", "cv06", "cv09", "cv10";
  background: $eerie-black;
  color: $antiflash-white;
}

a {
  border-bottom: 1px solid;
  display: inline-block;
  text-decoration: none;
}

main {
  max-width: 80%;
  margin: 0 auto;
}
