.main {
  max-width: 600px;
}

.hero {
  padding-top: 4rem;

  @media screen and (min-width: 768px) {
    padding-top: 6rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 100;
    margin: 0 0 1rem;
  }

  .subtitle {
    font-size: 1.75rem;
    font-weight: 300;
    margin: 0 0 3rem;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }

  a {
    border-color: $antiflash-white;
  }
}

.intro {
  color: #a9acaa;

  p {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 300;

    &:first-child {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  hr {
    border: none;
    margin-bottom: 5rem;
  }

  a {
    color: #a9acaa;

    &:hover {
      color: $antiflash-white;
      text-decoration-color: $antiflash-white;
    }
  }
}

nav {
  font-size: 1rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 1rem;
    }
  }
}
